html {
    height: 100%;
    background: url("https://i.gifer.com/2V4G.gif");
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    text-align: center;

}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.gallery {
    background: url("https://img1.picmix.com/output/stamp/normal/3/8/7/5/325783_cc71b.gif");
}

img{
    width: 500px;
    text-align: center;
}

